APP_NAME=Grafika-Printing
APP_ENV=local
APP_KEY=base64:+u/24/zzl+Y0OWxNq8NWQAlXbp7RBAUqiQ9aN9Qt25M=
APP_DEBUG=true
APP_TIMEZONE=asia/jakarta
APP_URL=https://332deb15a4e6.ngrok-free.app

APP_LOCALE=id   
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=grafikaprinting
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=c378d94940d32f
MAIL_PASSWORD=ed2d43157ae480
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Xendit Configuration
XENDIT_API_KEY=xnd_development_ZV0t5dEuRbG48bnZSWnnNiP8X9CjhEcIY2c5F1TyHMXEGItStU1ChiN4tcI83cj
XENDIT_PUBLIC_KEY=xnd_public_development_9jIu79cvp_74SvSc2_ekOcfFPbWEb4MJFhy97Dgr4QUl4o_hba9plABFgsi9i1D
XENDIT_WEBHOOK_TOKEN=CACsKWUOZdSX1XnnnA0AYuNaT0gGDA7hph7u6hcFEdEIphih
XENDIT_BASE_URL=https://api.xendit.co
XENDIT_CALLBACK_URL= https://e0e0c1473a98.ngrok-free.app/xendit/webhook

NGROK_URL=https://332deb15a4e6.ngrok-free.app
WEBHOOK_URL=https://332deb15a4e6.ngrok-free.app/api/xendit/webhook
FORCE_HTTPS=true
ASSET_URL=https://332deb15a4e6.ngrok-free.app 